* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  text-align: center;
}

main {
  background-color: #181f2a;
  padding: 20px;
}

p {
  font-family: "Open Sans";
  color: #bbb8b8;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.8;
}

img {
  width: 100%;
}

h1 {
  color: white;
}

header.header a {
  text-decoration: none;
}

header.header a p {
  color: #bbb8b8;
}

header.header li {
  display: inline-block;
  margin-left: 2rem;
}

.top-article h1 {
  line-height: 1.8;
  margin: 1.5rem 0;
}

.flex-container {
  display: flex;
}

.flex {
  flex: 1;
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

button {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border: none;
  cursor: pointer;
  border-radius: 4rem;
  padding: 12px;
  width: 200px;
}

button p {
  color: white;
  margin-bottom: 0;
}

.navbar img {
  height: 40px;
  width: auto;
}

.grid-container {
  display: grid;
  gap: 4rem;
}

.mid-section {
  margin: 10rem 0;
}

.mid-section h1 {
  margin-bottom: 1rem;
}

.mid-section .grid-item img {
  margin-bottom: 2rem;
  width: 75px;
}

.see-how {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid #65e2d9;
}

.see-how p {
  display: inline-block;
  margin-bottom: 10px;
}

.see-how img {
  position: relative;
  width: 20px;
  display: inline-block;
  top: 5px;
}

.bottom-content {
  text-align: left;
}

.testimonial-section.flex-container-hor {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 3rem;
  flex-direction: column;
}

.quotes {
  position: absolute;
  width: 30px;
  top: -25px;
  z-index: 1;
  left: 5px;
}

.testimonial-section {
  margin-top: 12rem;
  position: relative;
}

.testimonial-section .sub-article {
  background-color: #202a3c;
  padding: 2rem;
  border-radius: 0.5rem;
  position: relative;
}

.testimonial-section .sub-article .flex-container {
  margin-top: 2rem;
  align-items: center;
}

.testimonial-section .sub-article img {
  width: 40px;
  border-radius: 4rem;
}

.testimonial-section .sub-article p {
  margin-bottom: 0;
}

.testimonial-section .sub-article .text {
  flex: 1;
  flex-basis: 70%;
}

.testimonial-section .sub-article .text p:nth-of-type(1) {
  color: white;
  font-weight: 700;
}

.testimonial-section .sub-article picture {
  flex: 1;
}

footer.footer {
  background-color: #0b1523;
}

footer.footer img {
  height: 50px;
  width: auto;
}

.early-access-section {
  border-radius: 0.5rem;
  background-color: #1c2431;
  padding: 3rem;
}

.early-access-section h1 {
  margin-bottom: 1.6rem;
}

.early-access-section .flex-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  flex-direction: column;
  width: 100%;
}

.early-access-section input {
  outline: none;
  padding: 13px;
  font-size: 14px;
  border-radius: 4rem;
  width: 100%;
  height: 50px;
}

.early-access-section button {
  height: 50px;
  width: 100%;
}

.early-access-section input::placeholder {
  color: lightgrey;
}
