$main-background: hsl(218, 28%, 13%);
$footer-background: hsl(216, 53%, 9%);
$testimonials-background: hsl(219, 30%, 18%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  background-color: $main-background;
}
